body {
	background-image: url("slide-4 (1).jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	text-align: center;
}
h1 {
	color: #f29bac;
}
h2{
	color: #4153f4;
}
h3{
	color: #ef4f6f;
}
p {
	color: #ef4f6f;
	font-size: 20px;
}
a{ 
	color: #8c4fef;
	font-size: 25px;
}
ul {
	font-size:30px;
	color: #ef4f6f;
}